/*Base*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: "Raleway", Arial, sans-serif;
}

:root {
    --site-padding: 0.5em 10em 0.5em 10em;
    --dark-colour: #2b2b2b;
    --light-purple: #d2bacf;
    --dark-purple: #88466f;
}

h1 {
    font-size: 4em;
    margin: 0;
    font-weight: 800;
}

/* Link colour when not hovering*/
button a:link {
    color: rgb(32, 32, 32);
}

/* Link colour of a visited link*/
button a:visited {
    color: grey;
}

/*Link colour when hovering*/
button a:hover {
    color: rgb(104, 104, 104);
}

/*Link colour when clicked*/
button a:active {
    color: darkblue;
}


/*Navigation*/
nav {
    top: 0;
    position: sticky;
    z-index: 999;
    display: flex;
    max-height: 3.8em;
    justify-content: space-between;
    align-items: center;
    padding: var(--site-padding);
    background-color: var(--light-purple);
    list-style: none;
    text-decoration: none;
    border-bottom: 0.1em #2b2b2b solid;
}

.nav-menu {
    list-style: none;
    text-decoration: none;
}

nav button {
    padding: 10px;
    margin: 0;
    border: none;
    color: black;
    background-color: transparent;
}

nav ol a {
    margin-left: 1em;
    text-decoration: none;
    color: var(--dark-colour);
}

nav img {
    height: 3em;
}

.hamburger {
    display: none;
}



/*HERO*/
header {
    display: block;
    padding: var(--site-padding);
}

.about-me-header {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    gap: 6em;
    background-color: var(--dark-purple);
    padding: var(--site-padding);
}

.about-me-header img {
    height: 30em;
    width: 24em;
    object-fit: cover;
}

.about-text {
    margin-top: 10em;
    justify-content: space-evenly;
}



/*MAIN*/
main {
    padding: var(--site-padding);
    text-align: center;
    justify-content: center;
}

#items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--light-purple);
}

.item-card * {
    object-fit: cover;
    width: 30em;
    height: 16em;
}

#more {
    text-align: center;
}

#more-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: var(--site-padding);
}

#more-items * {
    object-fit: cover;
    width: 20em;
    height: 12em;
}


/*FOOTER*/
footer {
    height: 3em;
    text-align: center;
    padding: var(--site-padding);
    border-top: 0.1em #2b2b2b solid;
    background-color: var(--light-purple);
}




/*RESPONSIVE*/
/* Media query for IPad Pros - less tha 1024*/
@media screen and (max-width: 64em) {
    :root {
        --site-padding: 0.5em 5em 0.5em 5em;
    }

}

/* Media query for IPad Minis - less tha 768*/
@media screen and (max-width: 48em) {
    :root {
        --site-padding: 0.45em 2.4em 0.45em 2.4em;
    }

    .nav-menu, .nav-menu-pages {
        position: fixed;
        left: -120%;
        top: 3.4em;
        flex-direction: column;
        background-color: #fff;
        height: 10em;
        width: 100%;
        text-align: center;
        transition:ease-in 0.3s;
    }

    .nav-menu.active {
        left: 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    header {
        display: flex;
    }

}

/* Media query for Phones - less tha 480px*/
@media screen and (max-width: 30em) {
    /*Links are blue?????? change that maybe*/
    :root {
        --site-padding: 0.4em 1em 0.4em 1em;
    }

    header {
        display: block;
    }

    h1 {
        font-size: 1.875em;
    }
    
    h2 {
        font-size: 1.625em;
    }
    
    h3 {
        font-size: 1.25em;
    }
    
    p {
        font-size: 1em;
    }

    nav {
        padding: 0.375em;
    }
}