/*Base*/
/* Raleway
Bodoni Moda (Didot replacement) */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* BRUSH PEN */
@import url("https://use.typekit.net/csp8tva.css"); 
    /* 
        font-family: "modern-love", sans-serif;
        font-weight: 400;
        font-style: normal; 
    */

/* NEW SPIRIT */
@import url("https://use.typekit.net/csp8tva.css");
/* https://fonts.adobe.com/fonts/gelica#fonts-section */
/* 
            Gelica Light
            font-family: "gelica", sans-serif;
            font-weight: 300;
            font-style: normal;

            Gelica Regular
            font-family: "gelica", sans-serif;
            font-weight: 400;
            font-style: normal;

            Gelica Italic
            font-family: "gelica", sans-serif;
            font-weight: 400;
            font-style: italic;

            Gelica Medium
            font-family: "gelica", sans-serif;
            font-weight: 500;
            font-style: normal;

            Gelica SemiBold
            font-family: "gelica", sans-serif;
            font-weight: 600;
            font-style: normal;

            Gelica Bold
            font-family: "gelica", sans-serif;
            font-weight: 700;
            font-style: normal;

            Gelica Black
            font-family: "gelica", sans-serif;
            font-weight: 900;
            font-style: normal;
        */

body {
    padding: 0;
    margin: 0;
    font-family: "Raleway", Arial, sans-serif;
    background-color: var(--light-colour);
}

:root {
    --site-padding: 1.5% 15% 1.5% 15%;
    --dark-colour: #2b2b2b;
    --light-colour: #FFFDFA;
    --light-purple: #b27497;
    --dark-purple: #650144;
    --line-height: 1.5em;
}
/* 
svg {
    background-color: transparent;
    display: block;
    min-width: 100%;
    max-height: 2em;
    z-index: -10;
    margin: 1% 0 1% 0;
    padding: 0;
} */

.hr-line {
    display: block;
    min-width: 100%;
    max-height: 2em;
    z-index: -10;
    margin: 1% 0 1% 0;
    padding: 0;
}

/* 
.hero-star {
    float: right;
    display: block;
    max-width: 100%;
    max-height: 100%;
    z-index: -10;
    margin: 0;
    padding: 0;
} */


img {
    max-width: 36em;
    height: auto;
}

ol li {
    line-height: var(--line-height);
}

.large-text {
    font-size: 8em !important;
    margin: inherit;
    line-height: 95%;
    font-family: "modern-love", sans-serif;
    font-weight: 400;
    font-style: normal; 
}

h1 {
    font-size: 6rem;
    font-family: "gelica", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 98%;
    margin: 0;
    padding-bottom: 0.25em;
}

h2 {
    font-size: 3.55rem;
    font-family: "gelica", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 98%;
    margin: 0;
    padding-bottom: 0.5em;
}

h3 {
    font-size: 2.35rem;
    font-family: "gelica", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding-bottom: 0.5em;
}

h4 {
    font-size: 1.75rem;
    margin: 1em 0em 0.75em 0em;
    padding-bottom: 0.5em;
}

h5 {
    font-size: 1.25rem;
    margin: 0;
    padding-bottom: 0.5em;
}

p {
    font-size: 1em;
    line-height: var(--line-height);
    margin: 0;
    padding-bottom: 0.5em;
}

h6 {
    font-size: 0.85rem;
    margin: 0 0 0.4em 0;
}

.italics {
    font-style: italic;
}


/* BUTTONS */
button {
    color: white;
    background-color: var(--dark-purple);
    padding: 0.5em;
    margin: 0.8em 0em 0.8em 0em;
    border: none;
    border-radius: 0.5em;
    text-decoration: none;
    min-width: 8em;
}

a:link {
    color: var(--dark-purple);
    font-weight: bold;
    text-decoration: underline var(--dark-purple);
}

a:visited {
    color: rgb(73, 73, 73);
}

a:hover {
    color: var(--dark-purple);
}

a:active {
    color: var(--dark-colour);
}

button:link,  button a:link, button:visited, button a:visited {
    color: white;
    text-decoration: none;
}

button:hover {
    box-shadow: 0.25em 0.25em var(--light-purple);
}

button:active, button a:active {
    color: rgb(166, 166, 166);
}



/*Navigation*/
    nav {
        top: 0;
        left: 0;
        position: sticky;
    }

    #top-nav {
        display: flex;
        top: 0;
        height: 2.2em;
        justify-content: space-between;
        align-items: center;
        padding: var(--site-padding);
        background-color: var(--light-colour);
        border-bottom: 0.08em #2b2b2b solid;
        z-index: 998;
        
    }

    #top-notif {
        top: 0;
        position: sticky;
        height: 2em;
        text-align: center;
        padding: var(--site-padding);
        background-color: var(--light-purple);
    }

    .nav-menu {
        z-index: 999;
    }

    .nav-menu a {
        font-size: 1.33rem;
        color: black;
        text-decoration: none;
        list-style: none;
    }

    nav button:hover {
        box-shadow: none;
    }

    .nav-menu i {
        font-size: 2rem;
        margin: 0em;
    }

    .nav-logo {
        height: 2em;
    }
    
    nav button {
        padding: 10px;
        font-size: 1rem;
        margin: -1em;
        border: none;
        color: black;
        background-color: transparent;
    }

    nav ol a {
        font-size: 1.25rem;
        margin-left: 1em;
        text-decoration: none;
        font-weight: 600;
    }

    nav img {
        height: 2.6em;
    }

    .hamburger {
        display: none;
    }



/*HERO, HEADER*/
    header {
        padding: var(--site-padding);
    }

    #hero {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2em;
        margin: 3em 0em 3em 0em;
    }

    .hero-card p {
        width: 70ch;
    }



    /* Product headers/heros */
    #product-header {
        margin-top: 2%;
        text-align: left;
    }

    #product-header ol {
        list-style: none;
        padding: 0;
        justify-content: center;
    }



    .product-header {
        margin: var(--site-padding);
        display: grid;
        grid-template-columns: 1.1fr 0.9fr;
        gap: 3em;
        padding: 2em 0em 2em 0em;
    }

    .product-text {
        order: 1;
    }

    .product-header img, .product-header-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding: 0;
        margin:0;
        order: 2;
    }

                /* CELINE USES THIS */
    .product-header-more {
        margin-bottom: 3em;
        display: grid;
        grid-template-columns: 1fr;
    }


/* ABOUT PAGE */
    .about-header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;
    }

    .about-header-image, .about-header img {
        height: 100%;
        max-width: 100%;
        object-fit: cover;
        border-radius: 0 0 0 25%;
        order: 2;
    }

    .about-text {
        margin: 10% 0% 0% 30%;
        justify-content: space-evenly;
        list-style: square;
        order: 1;
    }

    .about-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;
        text-align: start;
        margin-bottom: 3em;
    }

    .about-main *, .about-text li {
        list-style: square;
        margin: 0;
    }
    
    .about-text h3 {
        padding: 0;
    }



/* MAIN */
    .showcase {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2em;
    }

    main {
        margin: var(--site-padding);
    }

    #home-main {
        margin-bottom: 8%;
    }

    #home-main h2{
        margin-bottom: 0;
    }

    .items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        text-align: center;
        gap: 5%;
        height: 100%;
    }

    menu {
        margin: 3% 16% 4% 16%;
    }

    #more {
        display: flex;
        flex-flow: no-wrap;
        justify-content: center;
        max-width: 100%;
        gap: 2em;
        padding: 0;
        margin: 0;
    }

    .showcase h2 {
        margin: 0em 0 0.3em 0;
        padding: 0;
    }

/* Back and forth text sections for each projects progress */
    .text-images {
        display: grid;
        grid-template-columns: 0.85fr 1.15fr;
        max-height: 35em;
        margin: 0;
        padding: 0;
        gap: 3em;
    }

    .images-text {
        display: grid;
        grid-template-columns: 1.15fr 0.85fr;
        max-height: 35em;
        margin: 0;
        padding: 0;
        gap: 3em;
    }

    .final-showcase {
        min-height: 100%;
        width: 100%;
        margin: 1.5em 0 1.5em 0;
    }
    
    .final-showcase {
        min-height: 100%;
        width: 100%;
        margin: 1.5em 0 1.5em 0;
    }

   .final-showcase .showcase-text-box {
        display: grid;
        grid-template-columns: 0.65fr 1.35fr;
        gap: 3em;
        margin-bottom: 1em;
        padding: 0;
    }

    .final-products {
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
   }

   .final-products img {
        max-height: 30em;
        max-width: 100%;
        object-fit: cover;
        margin: 0;
        padding: 0;
   }

/* Gallery scroll */
    .products { 
        display: flex; 
        white-space: nowrap; 
        overflow-x: scroll;
        gap: 5%; 
        margin: 0;
        padding: 0;
        max-height: 28em;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 3px 10px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
    }

    .products img {
        max-height: 28em;
        max-width: 85%;
        object-fit: contain;
    }
    
/* Contact Sections */
    #contact {
        margin: var(--site-padding);
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5%;
    }

    #contact-about {
        margin: var(--site-padding);
        padding: 3em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;
        justify-content: space-between;
    }

    #contact h2, #contact-about h2 {
        margin: 0em 0em 0em 0em;
    }

    #contact .center-image img {
        max-height: 24em;
        width: 100%;
        border-radius: 2em;
        object-fit: cover;
        margin: 0;
        padding: 0;
    }

    .contact-box-text {
        padding: 2em;
    }

    .contact-box-text button {
        margin-top: 2em;
    }

    #contact-about .radius-logo img {
        border-radius: 0em;
        max-width: 62%;
        min-width: 12em;
        margin: 2em 0em 0.8em 0em;
    }



/* Item cards such as home page project cards and each page more section */
    .item-card {
        /* border: 0.05em solid var(--dark-colour); */
        height: 13em, 100%;
        width: 100%;
        margin-bottom: 1em;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    }

    .more-card {
        max-height: 12em, 100%;
        width: 20em;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 20px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    }

    .item-card img:hover, .more-card img:hover {
        box-shadow: -0em 0.1em 1em -0.2em var(--dark-colour);
        height: 99%;
        width: 99%;
    }

    .item-card img, .item-card a, .more-card img, .more-card a {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }





/*FOOTER*/
    footer {
        margin: 0;
        height: 3em;
        text-align: center;
        padding: var(--site-padding);
        border-top: 0.08em #2b2b2b solid;
        background-color: white;
    }







/*RESPONSIVE*/


/* Media query for IPad Pros - less tha 1024*/
    @media screen and (max-width: 64em) {
        :root {
            --site-padding: 2% 10% 2% 10%;
        }

        .large-text {
            font-size: 7em !important;
            margin: 0;
        }
        
        h1 {
            font-size: 5rem;
            margin: 0em;
            font-weight: 800;
        }
        
        h2 {
            font-size: 3.15rem;
        }
        
        h3 {
            font-size: 2.35rem;
        }
        
        h4 {
            font-size: 1.75rem;
        }
        
        h5 {
            font-size: 1.25rem;
        }
        
        p {
            font-size: 1em;
        }
        
        h6 {
            font-size: 0.85rem;
        }    
        
        .text-images, .images-text {
            grid-template-columns: 1fr;
            max-height: 100%;
            gap: 0em;
        }

        .items {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 0;
        }

        .showcase-text-box {
            order: 1;
            height: inherit;
        }

        .products{ 
            order: 2;
        }

        .product-header {
            grid-template-columns: 1fr;
            gap: 2em;
            margin: 0;
        }    

        .product-text {
            margin: var(--site-padding);
            order: 2;
        }

        .product-header img, .product-header-image {
            max-height: 24em;
            min-width: 100%;
            object-fit: cover;
            border-radius: 0;
            padding: 0;
            margin: 0;
            order: 1;
        }

        .final-showcase {
            margin: 0;
        }

        .final-showcase .showcase-text-box {
            grid-template-columns: 1fr;
            gap: 0em;
            margin-bottom: 0em;
        }

        .final-products {
            height: auto;
            grid-template-columns: 1fr;
            gap: 1em;
       }
    
       .final-products img {
            max-height: 100%;
            max-width: 100%;
       }

        .about-header {
            grid-template-columns: 1fr 1fr;
            gap: 4em;
        }

        .about-text {
            margin: 8% 0% 0% 22%;
        }    

        #items, #more {
            gap: 1em;
            grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
        }

        .about-main {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2em;
            text-align: start;
            margin-bottom: 3em;
        }

        #contact {
            margin: var(--site-padding);
        }
    
}

/* Media query for IPad Minis - less tha 768*/
/* THIS IS WHERE THE NAV CHANGES TO HAMBURGER */
    @media screen and (max-width: 48em) {
    :root {
        --site-padding: 1% 8% 1% 8%;
    }
    
    .large-text {
        font-size: 7em!important;
    }

    #top-nav {
        z-index: 999;
        top: 0em;
    }

    .nav-menu {
        display: flex;
        position: fixed;
        right: -120%; 
        top: 2em;
        flex-direction: column; 
        border-left: 0.1em solid var(--dark-colour);
        background-color: #fff;
        height: 100%;
        width: 38%;
        transition: ease 0.2s;
        padding: 1em;
        z-index: 100;
    }

    .nav-menu * {
        text-align: start;
        margin: 0.5em;
        font-size: 1.8em;
    }

    .nav-logo {
        height: 1.9em;
    }

    .hamburger {
        /* min-width: fit-content; */
        display: block; 
        top: 10em;
        z-index: 800;
    }

    .nav-menu button {
        margin: 0;
    }

    .nav-menu.active {
        right: 0;
    }

    #top-notif h5 {
        font-size: 1.4em;
    }

    #hero {
        display: block;
    }

    .hero-card p {
        width: auto;
    }

    .about-header {
        grid-template-columns: 1fr;
        margin: 0% 0% 1% 0%;
        gap: 4em;
    }

    .about-header-image, .about-header img {
        max-height: 20em;
        min-width: 100%;
        object-fit: cover;
        border-radius: 0;
        padding: 0;
        margin: 0;
        order: 1;
    }

    .about-main {
        display: block;
        margin: var(--site-padding)
    }

    .about-main div {
        margin-bottom: 2em;
    }

    .about-text {
        margin: var(--site-padding);
        order: 2;
    }

    #product-header {
        margin: 1% 0% 2% 0%;
    } 

    .products {
        height: 20em;
    }

/* Back and forth text sections for each projects progress */
   .showcase {
        margin: 1% 8% 5% 8%;
        gap: 3em;
   }

    menu {
        margin: var(--site-padding);
    }

    #more {
        flex-flow: wrap;
        max-width: 100%;
        gap: 2em;
        padding: 0;
        margin: 0;
    }

    .more-card {
        height: 16em;
        width: 80%;
    }

    #contact, .contact-background-box, #contact-about {
        grid-template-columns: 1fr;
        gap: 1em;
    }

    #contact-about h2 {
        border-top: 0.1em black solid;
        padding-top: 0.7em;
    }

    #contact .center-image img {
        max-height: 20em;
        max-width: 100%;
        margin-top: 1em;
        border-radius: 2em;
    }

    #contact button, #contact-about button {
        margin-top: 2em;
    }
}


/* Media query for Phones - less tha 480px*/
    @media screen and (max-width: 30em) {
        /*Links are blue?????? change that maybe*/
        :root {
            --site-padding: 1% 5% 1% 5%;
        }

        .hr-line {
            width: 100%;
            max-height: 3em;
            margin: 0;
        }

        .large-text {
            font-size: 4.9em!important;
            margin: 0;
            padding: 0;
        }

        h1 {
            font-size: 4em;
        }

        header {
            display: block;
        }

        .nav-menu {
            width: 60%;
        }

        #top-notif {
            height: 1.3em;
        }

        #top-notif h5 {
            font-size: 1em;
        }

        #hero {
            display: flex;;
        }

        #hero {
            display: block;
            margin-top: 1em;
        }

        #hero img {
            object-fit: cover;
            box-shadow: #88466f 20px 20px 40px;
            border-radius: 10% 20%;
            margin: 1em;
            height: 80%;
            width: 94%;
        }

        .items {
            grid-template-columns: 1fr;
            gap: 2em;
        }

        #product-header {
            margin: 1em;
        }  

        .item-card, .more-card {
            width: 100%;
            /* border-top: 0.05em solid var(--dark-colour); */
        }

        #contact .center-image img {
            max-height: 16em;
            width: 100%;
            margin-top: 1.75em;
        }
    
        .contact-box-text {
            padding: 0em;
            margin-bottom: 2em;
        }
 
}